<template>
  <div class="home">
    <!-- 头部 -->
    <div class="headerWarp">
      <div class="headerTitle">情报脉络</div>
      <div class="headerBox">
        <div class="IntelligentBtn" @click="uploadZnjs">
          <i class="el-icon-s-platform"></i>
          侦察取证
        </div>
        <div class="uploadBtn" @click="uploadPop">
          <i class="el-icon-upload2"></i>
          上传情报信息
        </div>
        <div class="headSculpture">A</div>
      </div>
    </div>
    <!-- 内容 -->
    <div class="contentBx">
      <div class="contentWarp">
        <!-- 左侧时间脉络 -->
        <div class="leftBox" v-loading="timeLineLoading">
          <div class="timeLineBox" v-if="timeLineList.length > 0">
            <el-timeline v-for="(itemele, iele) in timeLineList" :key="iele">
              <h3 style="padding: 7px 0">{{ itemele.timeTitle }}</h3>
              <el-timeline-item
                v-for="(item, i) in itemele.listArr"
                :color="item.color"
                :key="i"
                placement="top"
              >
                <div
                  :class="
                    (idxMouser == String(iele) + String(i) && idxSx == 1) ||
                    (nowIdx == String(iele) + String(i) && nowSx == 1)
                      ? 'eventBox boundaries'
                      : (idxMouser == String(iele) + String(i) && idxSx == 2) ||
                        (nowIdx == String(iele) + String(i) && nowSx == 2)
                      ? 'eventBox fighting'
                      : (idxMouser == String(iele) + String(i) && idxSx == 3) ||
                        (nowIdx == String(iele) + String(i) && nowSx == 3)
                      ? 'eventBox conflicts'
                      : (idxMouser == String(iele) + String(i) && idxSx == 4) ||
                        (nowIdx == String(iele) + String(i) && nowSx == 4)
                      ? 'eventBox casualties'
                      : (idxMouser == String(iele) + String(i) && idxSx == 5) ||
                        (nowIdx == String(iele) + String(i) && nowSx == 5)
                      ? 'eventBox conflict'
                      : 'eventBox'
                  "
                  @mouseenter="eventMouseEnter(item.label, iele, i)"
                  @mouseleave="eventMouseLeave()"
                  @click="eventClick(item, iele, i)"
                >
                  <p class="eventTitle" :style="{ color: item.color }">
                    {{ item.label }}
                  </p>
                  <div class="titleBtn">
                    <h3 class="timeTitle">{{ item.date }}</h3>
                    <div
                      class="eventEditBtn"
                      @click="editQbupload(item, iele, i)"
                    >
                      <i class="el-icon-edit"></i>&nbsp;编辑
                    </div>
                  </div>
                  <p class="evenDescr">{{ item.eventDescription }}</p>
                </div>
              </el-timeline-item>
            </el-timeline>
          </div>
          <div class="kong" v-else>
            <el-empty :image-size="200"></el-empty>
          </div>
        </div>
        <!-- 中间内容信息 -->
        <div class="middleBox" v-if="eventDetails.label">
          <!-- 上 -->
          <div class="contentTitle">
            <div class="leftEventTime">
              <div
                class="eventTip"
                :style="{ backgroundColor: eventDetails.color }"
              >
                {{ eventDetails.label }}
              </div>
              <div class="eventTime">{{ eventDetails.date }}</div>
            </div>
            <div class="jwd">
              <i class="el-icon-location"></i>{{ eventDetails.latitude }}°N,
              {{ eventDetails.longitude }}°E ({{ eventDetails.location }})
            </div>
          </div>
          <!-- 事件概述 -->
          <div class="eventOverview">
            <h3>事件概述</h3>
            <div class="content">
              &emsp;&emsp;{{ eventDetails.eventDescription }}
            </div>
          </div>
          <!-- 取证资料 -->
          <div class="collectionMaterials">
            <h3>取证资料</h3>
            <div class="imageMaterials" v-if="eventDetails.imgList.length > 0">
              <p class="title">图像资料</p>
              <div class="txContent">
                <el-image
                  v-for="(item, i) in eventDetails.srcList"
                  :key="i"
                  :style="{
                    width: 202 + 'px',
                    height: 114 + 'px',
                    borderRadius: 5 + 'px',
                    marginRight: (i + 1) % 5 ? 8 + 'px' : 0,
                  }"
                  :src="item"
                  :preview-src-list="eventDetails.srcList"
                >
                </el-image>
              </div>
            </div>
            <div class="imageMaterials kong" v-else>
              <p class="title">图像资料</p>
              <el-empty :image-size="200"></el-empty>
            </div>
            <!-- 影像资料 -->
            <div class="imageData" v-if="eventDetails.videoList.length > 0">
              <p class="title">影像资料</p>
              <div class="txContent" id="video">
                <!-- v-if="eventDetails.videoSrcList.length > 0" -->
                <video
                  v-for="(item, i) in eventDetails.videoList"
                  :key="item.id"
                  :style="{
                    marginRight: (i + 1) % 5 ? 8 + 'px' : 0,
                  }"
                  :id="'myVideo' + item.id"
                  class="video-js"
                >
                  <source :src="item.videoUrl" />
                </video>
                <!-- </div> -->
              </div>
            </div>
            <div class="imageData kong" v-else>
              <p class="title">影像资料</p>
              <el-empty :image-size="200"></el-empty>
            </div>
          </div>
        </div>
        <div class="middleBox kong" v-else>
          <el-empty :image-size="200"></el-empty>
        </div>
        <!-- 右侧查询 -->
        <div class="rightBox">
          <!-- 日历表 -->
          <div class="dateWarp">
            <div class="CalendarPage">
              <!-- 按年月筛选，默认当前月份 -->
              <el-date-picker
                v-model="queryParams.month"
                type="month"
                placeholder="选择年月"
                format="yyyy-MM"
                value-format="yyyy-MM"
                style="width: 100%"
                :clearable="false"
                @change="monthHandle"
              >
              </el-date-picker>
              <div class="calendar-box" v-loading="userListLoading">
                <!-- <div class="calendar-title">
        {{ calendarTitle }}
      </div> -->
                <div class="calendar-main">
                  <!-- queryParams.month 控制日历显示那个月 -->
                  <el-calendar :value="queryParams.month">
                    <template slot="dateCell" slot-scope="{ date, data }">
                      <div class="cell-box" @click="selectUser(data)">
                        <div :class="nowDateCx == data.day ? 'cell-time' : ''">
                          {{ Number(data.day.slice(8, 10)) }}
                        </div>
                        <div v-for="(item, index) in userList" :key="index">
                          <div v-if="item.date == data.day" class="cell-label">
                            <el-tooltip
                              v-if="item.label.length > 6"
                              class="item"
                              effect="light"
                              :content="item.label"
                              placement="top"
                            >
                              <span>{{ item.label }}</span>
                            </el-tooltip>
                            <span v-else>{{ item.label }}</span>
                          </div>
                        </div>
                        <!-- <div v-if="showSelect(data.day)" class="select-box">选择</div> -->
                      </div>
                    </template>
                  </el-calendar>
                </div>
              </div>
            </div>
          </div>
          <!-- 属性查询 -->
          <div class="attributeQuery">
            <h3>按事件属性查看</h3>
            <div class="sxWarp" v-for="(item, i) in eventQueryList" :key="i">
              <div class="dian" :style="{ backgroundColor: item.color }"></div>
              <div class="content">
                <!-- @click="selectQuery(item)" -->
                <div>{{ item.name }}</div>
                <div><el-checkbox v-model="item.checked"></el-checkbox></div>
              </div>
            </div>
            <div class="cxBtn" @click="cxFun">查询</div>
            <div class="cxBtn" @click="qxFun">取消查询</div>
          </div>
        </div>
      </div>
    </div>
    <!-- 情报上传弹窗 -->
    <el-dialog
      title="侦察采报"
      custom-class="reconnaissanceDialog"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      :visible.sync="dialogFormVisibleQB"
      v-loading="dialogLoadingQb"
      width="1420px"
    >
      <!-- width="1252px" -->
      <div class="warp">
        <div class="box left">
          <!-- 基础信息 -->
          <div class="basicInformation">
            <h3>基础信息</h3>
            <div class="inputBox">
              <div class="inputWarp">
                <p>人数：</p>
                <el-input-number
                  v-model="formQbList.num"
                  :min="1"
                  label="描述文字"
                ></el-input-number>
              </div>
              <div class="inputWarp">
                <p>位置：</p>
                <el-select
                  v-model="formQbList.location"
                  @change="changeLocatFun()"
                  placeholder="事件位置"
                >
                  <el-option
                    v-for="item in locationList"
                    :key="item.area"
                    :label="item.area"
                    :value="item.area"
                  >
                  </el-option>
                </el-select>
              </div>
              <div class="inputWarp">
                <p>经度：</p>
                <el-input
                  placeholder="事件发生所在经度"
                  v-model="formQbList.longitude"
                  clearable
                >
                </el-input>
              </div>
              <div class="inputWarp">
                <p>纬度：</p>
                <el-input
                  placeholder="事件发生所在纬度"
                  v-model="formQbList.latitude"
                  clearable
                >
                </el-input>
              </div>
              <div class="inputWarp">
                <p>时间：</p>
                <el-date-picker
                  v-model="formQbList.date"
                  type="datetime"
                  placeholder="请选择事件发生时间"
                  value-format="yyyy-MM-dd HH:mm:ss"
                >
                </el-date-picker>
              </div>
            </div>
          </div>
          <!-- 图像情报 -->
          <div class="imagery">
            <h3>图像情报</h3>
            <div class="imageUpload">
              <div
                class="identifyWarp"
                v-for="(item, i) in fileListImageQB"
                :key="i"
                v-loading="item.imageLoading"
                ::key="keynum"
              >
                <div class="imageWarp">
                  <!-- @click="handleRemove" -->
                  <img :src="item.url" />
                  <i
                    @click="deleteImageFunQB(i)"
                    class="el-icon-circle-close del"
                  ></i>
                </div>
                <div class="identifyBtn">
                  <el-button
                    type="primary"
                    @click="startIdentifyImage(item, i, $event)"
                    >开始识别</el-button
                  >
                </div>
                <div class="identifyTextarea">
                  <el-input
                    type="textarea"
                    :autosize="{ minRows: 6, maxRows: 6 }"
                    placeholder="识别内容"
                    v-model="imageSbRes[i].imgDescription"
                  >
                  </el-input>
                </div>
              </div>
              <el-upload
                multiple
                action="#"
                ref="dialogFileImageQB"
                list-type="picture-card"
                :on-change="handleChangeImageQB"
                :auto-upload="true"
                :file-list="fileListImageQB"
                :http-request="uploadFileImageQB"
                :before-upload="beforeUploadImageQB"
                accept="image/png, image/jpg, image/jpeg"
              >
                <!-- :on-remove="handleRemoveImageQB" -->
                <!-- :on-preview="handlePictureCardPreviewQB" -->
                <i class="el-icon-plus"></i>
              </el-upload>
              <!-- <el-dialog :visible.sync="dialogVisibleImageQB">
                <img width="100%" :src="dialogImageUrlQB" alt="" />
              </el-dialog> -->
            </div>
          </div>
        </div>
        <div class="box right">
          <!-- 事件描述 -->
          <div class="eventDescription">
            <h3>事件描述</h3>
            <div class="inputBox">
              <el-input
                type="textarea"
                :autosize="{ minRows: 5, maxRows: 5 }"
                placeholder="事件描述内容"
                v-model="formQbList.eventDescription"
              >
              </el-input>
            </div>
            <div style="display: flex; padding-top: 3px">
              <h3 style="line-height: 40px">事件标签：</h3>
              <div class="inputBox">
                <el-select v-model="formQbList.label" placeholder="请选择">
                  <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                  >
                  </el-option>
                </el-select>
              </div>
            </div>
            <!-- 视频情报 -->
            <div class="videoIntelligence">
              <h3>视频情报</h3>
              <div class="videoUpload">
                <div
                  class="identifyWarp"
                  v-for="(item, i) in fileListVideoQB"
                  :key="i"
                  v-loading="item.videoLoading"
                  ::key="keynum"
                >
                  <div class="videoWarp">
                    <!-- @click="handleRemove" -->
                    <video
                      :src="item.url"
                      controls="controls"
                      class="video-js"
                    ></video>
                    <i
                      @click="deleteVideoFunQB(i)"
                      class="el-icon-circle-close del"
                    ></i>
                  </div>
                  <div class="identifyBtn">
                    <el-button
                      type="primary"
                      @click="startIdentifyVideo(item, i, $event)"
                      >开始识别</el-button
                    >
                  </div>
                  <div class="identifyTextarea">
                    <el-input
                      type="textarea"
                      :autosize="{ minRows: 6, maxRows: 6 }"
                      placeholder="识别内容"
                      v-model="videoSbRes[i].videoDescription"
                    >
                    </el-input>
                  </div>
                </div>
                <el-upload
                  multiple
                  action="#"
                  ref="dialogFileVideoQB"
                  list-type="picture-card"
                  :on-change="handleChangeVideoQB"
                  :auto-upload="true"
                  :file-list="fileListVideoQB"
                  :before-upload="beforeUploadVideoQB"
                  :http-request="uploadFileVideoQB"
                  accept="video/mp4"
                >
                  <!-- :on-success="handleAvatarSuccessVideoQB" -->
                  <!-- :on-remove="handleRemoveVideoQB" -->
                  <!-- :on-preview="handleVideoPreviewQB" -->
                  <i class="el-icon-plus"></i>
                </el-upload>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisibleQB = false">取 消</el-button>
        <el-button type="primary" @click="uploadBtnFunQB">{{
          isEditQb ? "上 传" : "编 辑"
        }}</el-button>
      </div>
    </el-dialog>
    <!-- 智能检索弹窗 -->
    <el-dialog
      title="智能检索"
      custom-class="IntelligentDialog"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      :visible.sync="dialogFormVisibleZnjs"
      width="1252px"
    >
      <div class="warp">
        <div class="boxJs left">
          <!-- 文本检索 -->
          <div class="basicInformation">
            <h3>文本检索</h3>
            <div class="textUpload">
              <el-upload
                class="upload-demo"
                multiple
                action="#"
                ref="dialogFileTextZnjs"
                :on-change="handleChangeTextZnjs"
                :on-remove="handleRemoveTextZnjs"
                :auto-upload="false"
                :http-request="uploadFileTextZnjs"
                :file-list="fileListTextZnjs"
              >
                <el-button type="primary">点击上传</el-button>
                <!-- <div slot="tip" class="el-upload__tip">
                  只能上传jpg/png文件，且不超过500kb
                </div> -->
              </el-upload>
            </div>
          </div>
          <!-- 图像检索 -->
          <div class="imagery">
            <h3>图像检索</h3>
            <div class="imageUpload">
              <el-upload
                multiple
                action="#"
                ref="dialogFileImageZnjs"
                list-type="picture-card"
                :on-change="handleChangeImageZnjs"
                :on-remove="handleRemoveImageZnjs"
                :auto-upload="false"
                :http-request="uploadFileImageZnjs"
                :file-list="fileListImageZnjs"
              >
                <!-- :on-preview="handlePictureCardPreviewZnjs" -->
                <i class="el-icon-plus"></i>
              </el-upload>
              <!-- <el-dialog :visible.sync="dialogVisibleImageZnjs">
                <img width="100%" :src="dialogImageUrlZnjs" alt="" />
              </el-dialog> -->
            </div>
          </div>
          <!-- 视频检索 -->
          <div class="videoIntelligenceJs">
            <h3>视频检索</h3>
            <div class="videoUpload">
              <div
                class="videoWarp"
                v-for="(item, i) in fileListVideoZnjs"
                :key="i"
              >
                <!-- @click="handleRemove" -->
                <video
                  :src="item.url"
                  controls="controls"
                  class="video-js"
                ></video>
                <i
                  @click="deleteVideoFunZnjs(i)"
                  class="el-icon-circle-close del"
                ></i>
              </div>
              <el-upload
                multiple
                action="#"
                list-type="picture-card"
                ref="dialogFileVideoZnjs"
                :on-change="handleChangeVideoZnjs"
                :on-remove="handleRemoveVideoZnjs"
                :auto-upload="false"
                :http-request="uploadFileVideoZnjs"
                :file-list="fileListVideoZnjs"
                :on-preview="handleVideoPreviewZnjs"
              >
                <i class="el-icon-plus"></i>
              </el-upload>
            </div>
          </div>
        </div>
        <div class="boxJs right">
          <!-- 文本事件描述 -->
          <div class="eventDescription">
            <h3>文本事件描述</h3>
            <div class="inputBox">
              <el-input
                type="textarea"
                :autosize="{ minRows: 6.5, maxRows: 6.5 }"
                placeholder="事件描述内容"
                v-model="textarea2"
              >
              </el-input>
            </div>
          </div>
          <!-- 图片事件描述 -->
          <div class="eventDescription tpsjms">
            <h3>图片事件描述</h3>
            <div class="inputBox">
              <el-input
                type="textarea"
                :autosize="{ minRows: 6.8, maxRows: 6.8 }"
                placeholder="事件描述内容"
                v-model="textarea2"
              >
              </el-input>
            </div>
          </div>
          <!-- 视频事件描述 -->
          <div class="eventDescription spsjms">
            <h3>视频事件描述</h3>
            <div class="inputBox">
              <el-input
                type="textarea"
                :autosize="{ minRows: 7, maxRows: 7 }"
                placeholder="事件描述内容"
                v-model="textarea2"
              >
              </el-input>
            </div>
          </div>
        </div>
      </div>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisibleZnjs = false">取 消</el-button>
        <el-button type="primary" @click="uploadBtnFunZnjs">开始识别</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  uploadImage,
  uploadVideo,
  submit,
  selectByDate,
  selectByMonth,
  imgCall,
  videoCall,
  getArea,
  captioning,
} from "@/api/index.js";
// import dateCom from "@/components/dateCom.vue";
export default {
  name: "Home",
  components: {
    // dateCom,
  },
  data() {
    return {
      locationList: [],
      //接口地址
      apiConfig: apiConfig,
      // 时间脉络
      timeLineList: [],
      timeLineLoading: false,
      eventDetails: {},
      videoArr: [],
      isEditQb: 1,
      //当前选择的时间脉络
      nowSelectIdx: {
        idxele: 0,
        idx: 0,
      },
      //图像识别结果
      imageSbRes: [],
      //视频识别结果
      videoSbRes: [],
      //鼠标滑入滑出
      idxMouser: -1,
      idxSx: 0,
      // 选中的
      nowIdx: -1,
      nowSx: -1,
      // 查询参数
      queryParams: {
        month: this.nowDate().Y_M,
      },
      // 数据
      userList: [],
      userListLoading: false,
      //当前查询日期
      nowDateCx: "",
      // 事件查询
      eventQueryList: [
        {
          color: "#cc8430",
          name: "道路施工对峙",
          checked: true,
        },
        {
          color: "#26a4cd",
          name: "械斗事件",
          checked: true,
        },
        {
          color: "#ff0000",
          name: "肢体冲突事件",
          checked: true,
        },
        {
          color: "#969696",
          name: "越界占控事件",
          checked: true,
        },
        {
          color: "#0b31f2",
          name: "非法滞留事件",
          checked: true,
        },
      ],
      queryData: {},
      // 情报上传表单
      dialogLoadingQb: false,
      dialogFormVisibleQB: false,
      formQbList: {
        num: 1,
        location: "",
        longitude: "",
        latitude: "",
        eventDescription: "",
        imgId: [],
        videoId: [],
        label: "",
        date: "",
      },
      options: [
        {
          value: "道路施工对峙",
          label: "道路施工对峙",
        },
        {
          value: "械斗事件",
          label: "械斗事件",
        },
        {
          value: "肢体冲突事件",
          label: "肢体冲突事件",
        },
        {
          value: "越界占控事件",
          label: "越界占控事件",
        },
        {
          value: "非法滞留事件",
          label: "非法滞留事件",
        },
      ],
      textarea2: "",
      // 情报图片上传
      // dialogImageUrlQB: "",
      // dialogVisibleImageQB: false,
      fileListImageQB: [],
      fileDataImageQB: {},
      fileIdListImageQB: [],
      // 情报视频上传
      // dialogVideoUrlQB: "",
      // dialogVisibleVideoQB: false,
      fileListVideoQB: [],
      fileDataVideoQB: {},
      fileIdListVideoQB: [],
      // 智能检索弹窗
      dialogFormVisibleZnjs: false,
      // 智能检索文件上传
      dialogTextUrlZnjs: "",
      dialogVisibleTextZnjs: false,
      fileListTextZnjs: [],
      fileDataTextZnjs: {},
      // 智能检索图片上传
      dialogImageUrlZnjs: "",
      dialogVisibleImageZnjs: false,
      fileListImageZnjs: [],
      fileDataImageZnjs: {},
      // 智能检索视频上传
      dialogVideoUrlZnjs: "",
      dialogVisibleVideoZnjs: false,
      fileListVideoZnjs: [],
      fileDataVideoZnjs: {},
      keynum: 100,
    };
  },
  computed: {
    calendarTitle() {
      let year = this.queryParams.month.slice(0, 4);
      let month = this.queryParams.month.slice(5, 7);
      month = Number(month);
      let str = year + "年" + month + "自定义标题。。。。。。";
      return str;
    },
    showSelect() {
      return function (day) {
        // console.log(day, 'day')
        let nowTime = this.nowDate().Y_M;
        // 是否是这个月
        let isShow_01 = nowTime == day.slice(0, 7) ? true : false;
        // 是否选择过人员
        let isShow_02 =
          this.userList.filter((item) => item.date == day).length == 0
            ? true
            : false;
        return isShow_01 && isShow_02;
      };
    },
  },
  mounted() {
    this.init();
    this.calendarEvent();
    this.getAddres();
  },
  methods: {
    changeLocatFun() {
      this.locationList.forEach((element) => {
        if (element.area == this.formQbList.location) {
          this.formQbList.longitude = element.longitude;
          this.formQbList.latitude = element.latitude;
        }
      });
    },
    getAddres() {
      getArea().then((res) => {
        if (res.data.code == 200) {
          this.locationList = res.data.data;
        }
      });
    },
    // 获取时间轴列表
    init(val) {
      if (!val) {
        this.queryData = {};
      }
      this.timeLineLoading = true;
      selectByDate(this.queryData)
        .then((res) => {
          // console.log(res, "时间轴");
          if (res.data.code == 200) {
            this.timeLineList = res.data.data;
            this.timeLineLoading = false;
            if (this.timeLineList.length > 0) {
              if (this.isEditQb) {
                this.eventClick(this.timeLineList[0].listArr[0], 0, 0);
              } else {
                // console.log(
                //   this.nowSelectIdx.idxele,
                //   this.nowSelectIdx.idx,
                //   "编辑"
                // );
                this.eventClick(
                  this.timeLineList[this.nowSelectIdx.idxele].listArr[
                    this.nowSelectIdx.idx
                  ],
                  this.nowSelectIdx.idxele,
                  this.nowSelectIdx.idx
                );
              }
            } else {
              if (this.videoArr.length > 0) {
                this.videoArr.forEach((item) => {
                  item.dispose();
                });
                if (this.eventDetails.videoList) {
                  const myVideoDiv = document.getElementById("video");
                  this.eventDetails.videoList.forEach((item, i) => {
                    if ((i + 1) % 5) {
                      myVideoDiv.innerHTML += `<video
          key="${item.id}"
          style="margin-right:8px;border-radius: 5px;
            margin-bottom: 5px;"
          id=${"myVideo" + item.id}
          class="video-js"
          >
          <source src="${item.videoUrl}" />
          </video>`;
                    } else {
                      myVideoDiv.innerHTML += `<video
            key="${item.id}"
            style="border-radius: 5px;
            margin-bottom: 5px;"
            id=${"myVideo" + item.id}
            class="video-js"
            >
            <source src="${item.videoUrl}" />
            </video>`;
                    }
                  });
                }
              }
              this.videoArr = [];
              this.eventDetails = {};
            }
          } else {
            this.timeLineLoading = false;
          }
          this.isEditQb = 1;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    // 编辑情报按钮
    editQbupload(val, idxele, idx) {
      console.log(val, "编辑");
      this.imageSbRes = [];
      this.videoSbRes = [];
      this.nowSelectIdx.idxele = idxele;
      this.nowSelectIdx.idx = idx;
      // console.log(val, "val");
      this.isEditQb = 0;
      let obj = {};
      obj = JSON.parse(JSON.stringify(val));
      this.formQbList = {
        num: obj.num,
        location: obj.location,
        longitude: obj.longitude,
        latitude: obj.latitude,
        eventDescription: obj.eventDescription,
        imgId: [],
        videoId: [],
        label: obj.label,
        date: obj.date,
        id: obj.id,
        imgDescriptionList: [],
        videoDescriptionList: [],
      };
      // 图片回显
      obj.imgList.forEach((element) => {
        element.url = element.imgUrl;
        element.imgId = element.id;
        element.imageLoading = false;
        this.imageSbRes.push({
          imgDescription: element.imgDescription,
          id: element.id,
        });
      });
      this.fileListImageQB = obj.imgList;
      this.fileIdListImageQB = obj.imgList;
      //视频回显
      obj.videoList.forEach((element) => {
        element.url = element.videoUrl;
        element.videoId = element.id;
        element.videoLoading = false;
        this.videoSbRes.push({
          videoDescription: element.videoDescription,
          id: element.id,
        });
      });
      this.fileListVideoQB = obj.videoList;
      this.fileIdListVideoQB = obj.videoList;
      this.dialogFormVisibleQB = true;
    },
    // 视频初始化
    initVideo() {
      if (this.videoArr.length > 0) {
        console.log(
          this.videoArr,
          this.eventDetails.videoList,
          "this.videoArr"
        );
        // console.log("初始化");
        this.videoArr.forEach((item) => {
          item.dispose();
        });
        this.videoArr = [];
        const myVideoDiv = document.getElementById("video");
        this.eventDetails.videoList.forEach((item, i) => {
          if ((i + 1) % 5) {
            myVideoDiv.innerHTML += `<video
          key="${item.id}"
          style="margin-right:8px;border-radius: 5px;
            margin-bottom: 5px;"
          id=${"myVideo" + item.id}
          class="video-js"
          >
          <source src="${item.videoUrl}" />
          </video>`;
          } else {
            myVideoDiv.innerHTML += `<video
            key="${item.id}"
            style="border-radius: 5px;
            margin-bottom: 5px;"
            id=${"myVideo" + item.id}
            class="video-js"
            >
            <source src="${item.videoUrl}" />
            </video>`;
          }
        });
      }
      this.eventDetails.videoList.forEach((element, i) => {
        //初始化视频方法
        let myPlayer = this.$video("myVideo" + element.id, {
          //确定播放器是否具有用户可以与之交互的控件。没有控件，启动视频播放的唯一方法是使用autoplay属性或通过Player API。
          controls: true,
          //自动播放属性,muted:静音播放
          // autoplay: "false",
          //建议浏览器是否应在<video>加载元素后立即开始下载视频数据。
          preload: "auto",
          //设置视频播放器的显示宽度（以像素为单位）
          width: "202px",
          //设置视频播放器的显示高度（以像素为单位）
          height: "114px",
          notSupportedMessage: "此视频或者直播地址不可用",
        });
        this.videoArr.push(myPlayer);
      });
    },
    // 事件脉络点击
    eventClick(val, idxele, idx) {
      this.nowSelectIdx.idxele = idxele;
      this.nowSelectIdx.idx = idx;
      // console.log(val, "事件脉络");
      this.eventDetails = val;
      this.eventDetails.srcList = [];
      this.eventDetails.videoSrcList = [];
      if (this.eventDetails.imgList.length > 0) {
        this.eventDetails.imgList.forEach((element) => {
          this.eventDetails.srcList.push(element.imgUrl);
        });
      }
      // this.eventDetails.videoList.forEach((element) => {
      //   this.eventDetails.videoSrcList.push(element.videoUrl);
      // });
      // console.log(this.eventDetails.videoList, "this.eventDetails.videoList");
      // if (this.eventDetails.videoSrcList.length > 0) {
      if (this.eventDetails.videoList.length > 0) {
        this.eventDetails.videoList.forEach((element) => {
          this.eventDetails.videoSrcList.push(element.videoUrl);
        });
        // console.log("initVideo输出");
        this.$nextTick(() => {
          console.log(this.eventDetails, "this.eventDetails");
          this.initVideo();
        });
      } else {
        if (this.videoArr.length > 0) {
          // console.log("没有视频清除掉之前的");
          this.videoArr.forEach((item) => {
            item.dispose();
          });
          this.videoArr = [];
        }
      }
      switch (val.label) {
        case "道路施工对峙":
          (this.nowIdx = String(idxele) + String(idx)), (this.nowSx = 1);
          break;
        case "械斗事件":
          (this.nowIdx = String(idxele) + String(idx)), (this.nowSx = 2);
          break;
        case "肢体冲突事件":
          (this.nowIdx = String(idxele) + String(idx)), (this.nowSx = 3);
          break;
        case "越界占控事件":
          (this.nowIdx = String(idxele) + String(idx)), (this.nowSx = 4);
          break;
        case "非法滞留事件":
          (this.nowIdx = String(idxele) + String(idx)), (this.nowSx = 5);
          break;
      }
    },
    // 事件属性选择
    selectQuery(val) {
      val.checked = !val.checked;
    },
    // 情报上传弹窗打开
    uploadPop() {
      this.isEditQb = 1;
      this.formQbList = {
        num: 1,
        location: "",
        longitude: "",
        latitude: "",
        eventDescription: "",
        imgId: "",
        videoId: "",
        label: this.options[0].value,
        date: "",
        imgDescriptionList: [],
        videoDescriptionList: [],
      };
      this.fileListImageQB = [];
      this.fileDataImageQB = {};
      this.fileIdListImageQB = [];
      this.fileListVideoQB = [];
      this.fileDataVideoQB = {};
      this.fileIdListVideoQB = [];
      this.imageSbRes = [];
      this.videoSbRes = [];
      this.dialogFormVisibleQB = true;
    },
    //情报图片上传
    beforeUploadImageQB(file) {
      let testmsg = file.name.substring(file.name.lastIndexOf(".") + 1);
      const extension = testmsg === "jpg";
      const extension2 = testmsg === "png";
      const extension4 = testmsg === "jpeg";
      if (!extension && !extension2 && !extension4) {
        this.$message({
          message: "上传文件只能是 jpg, jpeg, png格式!",
          type: "warning",
        });
        return false;
      }
    },
    handleChangeImageQB(file, fileList) {
      // console.log(file, fileList, "上传图片");
      // if (!this.isEditQb) {
      this.fileListImageQB = fileList;
      // }
      // this.fileListImageQB = fileList;
      // this.fileListImageQB = [];
      // this.fileListImageQB.forEach((element) => {
      //   element.miaoshuImage = "2";
      // });
    },
    // handleRemoveImageQB(file, fileList) {
    //   // console.log(file, fileList, this.fileIdListImageQB, "移出");
    //   // this.fileListImageQB = fileList;
    //   let result = this.fileIdListImageQB.filter((item) =>
    //     fileList.some((obj) => obj.uid === item.uid)
    //   );
    //   this.fileIdListImageQB = result;
    //   // console.log(this.fileIdListImageQB, "result");
    //   // this.fileListImageQB = [];
    //   // fileList.forEach((element) => {
    //   //   this.fileListImageQB.push(element.raw);
    //   // });
    // },
    deleteImageFunQB(idx) {
      this.fileListImageQB.splice(idx, 1);
      this.imageSbRes.splice(idx, 1);
      let result = this.fileIdListImageQB.filter((item) =>
        this.fileListImageQB.some((obj) => obj.uid === item.uid)
      );
      this.fileIdListImageQB = result;
      // console.log(this.fileIdListImageQB, "this.fileIdListImageQB");
    },
    // handlePictureCardPreviewQB(file) {
    //   this.dialogImageUrlQB = file.url;
    //   this.dialogVisibleImageQB = true;
    // },
    async uploadFileImageQB(param) {
      // console.log(param.file, "http-request");
      let fileFile = new FormData();
      fileFile.append("file", param.file);
      this.fileListImageQB.forEach((element, idx) => {
        if (element.uid == param.file.uid) {
          this.fileListImageQB[idx].imageLoading = true;
        }
      });
      this.imageSbRes.push({ imgDescription: "", id: "" });
      let resImage = await uploadImage(fileFile);
      if (resImage.data.code == 200) {
        this.fileIdListImageQB.push({
          imgId: resImage.data.data[0].imgId,
          uid: param.file.uid,
        });
        // this.fileListImageQB[this.fileListImageQB.length - 1].id =
        //   resImage.data.data[0].imgId;
        this.fileListImageQB.forEach((element, idx) => {
          if (element.uid == param.file.uid) {
            this.fileListImageQB[idx].imageLoading = false;
            this.fileListImageQB[idx].id = resImage.data.data[0].imgId;
            this.imageSbRes[idx].id = resImage.data.data[0].imgId;
          }
        });
      }
      // console.log(this.fileListImageQB, param,resImage, "resImage");
      // uploadImage
      // this.fileDataImageQB.append("file", param.file); // append增加数据
      // this.fileDataImageQB.append("materialType", this.xlNumber); // append增加中大特修
    },
    //情报视频上传
    beforeUploadVideoQB(file) {
      let testmsg = file.name.substring(file.name.lastIndexOf(".") + 1);
      const extension = testmsg === "mp4";
      if (!extension) {
        this.$message({
          message: "上传文件只能是 mp4 格式!",
          type: "warning",
        });
        return false;
      }
    },
    handleChangeVideoQB(file, fileList) {
      // console.log(file, fileList, "上传视频");
      // this.fileListVideoQB.push(file);
      this.fileListVideoQB = fileList;
      // this.fileListVideoQB[fileList.length - 1].videoLoading = true;
      // console.log(this.fileListVideoQB, "00");
    },
    // handleAvatarSuccessVideoQB(res, file) {
    //   this.fileListVideoQB[
    //     this.fileListVideoQB.length - 1
    //   ].videoLoading = false;
    //   console.log(this.fileListVideoQB, "090909809");
    // },
    // handleRemoveVideoQB(file, fileList) {
    //   console.log(file, fileList, "移出视频");
    //   this.fileListVideoQB = fileList;
    // },
    deleteVideoFunQB(idx) {
      this.fileListVideoQB.splice(idx, 1);
      this.videoSbRes.splice(idx, 1);
      let result = this.fileIdListVideoQB.filter((item) =>
        this.fileListVideoQB.some((obj) => obj.uid === item.uid)
      );
      this.fileIdListVideoQB = result;
      // console.log(this.fileIdListVideoQB, "this.fileIdListVideoQB");
    },
    // handleVideoPreviewQB(file) {
    //   this.dialogVideoUrlQB = file.url;
    //   this.dialogVisibleVideoQB = true;
    // },
    async uploadFileVideoQB(param) {
      // console.log(param, param.file, "http-request视频");
      let fileFile = new FormData();
      fileFile.append("file", param.file);
      // this.fileListVideoQB[this.fileListVideoQB.length - 1].videoLoading = true;
      this.fileListVideoQB.forEach((element, idx) => {
        if (element.uid == param.file.uid) {
          this.fileListVideoQB[idx].videoLoading = true;
        }
      });
      this.videoSbRes.push({ videoDescription: "", id: "" });
      let resImage = await uploadVideo(fileFile);
      if (resImage.data.code == 200) {
        this.fileIdListVideoQB.push({
          videoId: resImage.data.data[0].videoId,
          uid: param.file.uid,
        });
        // this.fileListVideoQB[
        //   this.fileListVideoQB.length - 1
        // ].videoLoading = false;
        this.fileListVideoQB.forEach((element, idx) => {
          if (element.uid == param.file.uid) {
            this.fileListVideoQB[idx].videoLoading = false;
            this.fileListVideoQB[idx].id = resImage.data.data[0].videoId;
            this.videoSbRes[idx].id = resImage.data.data[0].videoId;
          }
        });
      }
      // console.log(resImage, "resImage视频");
      // uploadVideo
      // this.fileDataVideoQB.append("file", param.file); // append增加数据
      // this.fileDataVideoQB.append("materialType", this.xlNumber); // append增加中大特修
    },
    //情报上传确定按钮
    uploadBtnFunQB() {
      //isEditQb 1新增，0编辑
      // if (this.isEditQb) {
      //   //新增
      // } else {
      //   //编辑
      //   // console.log(this.fileIdListImageQB, "this.fileIdListImageQB");
      //   console.log(this.fileIdListVideoQB, "this.fileIdListVideoQB");
      // }
      // return;
      // if (!this.isEditQb) {
      //   if (this.videoArr.length > 0) {
      //     console.log("没有视频清除掉之前的");
      //     this.videoArr.forEach((item) => {
      //       item.dispose();
      //     });
      //     this.videoArr = [];
      //   }
      // }
      let imgIdArr = [];
      let videoIdArr = [];
      this.fileIdListImageQB.forEach((element) => {
        imgIdArr.push(element.imgId);
      });
      this.fileIdListVideoQB.forEach((element) => {
        videoIdArr.push(element.videoId);
      });
      this.formQbList.imgId = imgIdArr.join(",");
      this.formQbList.videoId = videoIdArr.join(",");
      this.formQbList.imgDescriptionList = this.imageSbRes;
      this.formQbList.videoDescriptionList = this.videoSbRes;
      this.dialogLoadingQb = true;
      submit(this.formQbList)
        .then((res) => {
          // console.log(res, "resers");
          if (res.data.code == 200) {
            this.$message.success(res.data.msg);
            this.dialogLoadingQb = false;
            this.dialogFormVisibleQB = false;
            if (this.videoArr.length > 0) {
              // console.log("没有视频清除掉之前的");
              this.videoArr.forEach((item) => {
                item.dispose();
              });
              this.videoArr = [];
            }
            this.timeLineList = [];
            this.eventDetails = {};
            // return;
            this.$nextTick(() => {
              this.init();
              this.calendarEvent();
            });
          }
        })
        .catch((err) => {
          this.dialogLoadingQb = false;
          console.log(err);
        });
      // console.log(this.fileListImageQB, "图片");
      // console.log(this.fileListVideoQB, "视频");
      // this.fileDataImageQB = new FormData(); // 图像new formData对象
      // this.fileDataVideoQB = new FormData(); // 视频new formData对象
      // this.fileDataImageQB.append("file", this.fileListImageQB);
      // this.fileDataVideoQB.append("file", this.fileListVideoQB);
      // let resImage = await uploadImage(this.fileDataImageQB);
      // let resVideo = await uploadVideo(this.fileDataVideoQB);
      // console.log(
      //   this.fileListImageQB,
      //   this.fileDataImageQB,
      //   // resImage,
      //   "图片返回"
      // );
      // this.$refs.dialogFileImageQB.submit(); //图片上传提交
      // this.$refs.dialogFileVideoQB.submit(); //视频上传提交
    },
    // 图像开始识别
    startIdentifyImage(val, i, evt) {
      // val.imageLoading = true;
      this.fileListImageQB[i].imageLoading = true;
      this.keynum++;
      console.log(val, val.id, "val图像识别");
      let target = evt.target;
      if (target.nodeName == "SPAN" || target.nodeName == "I") {
        target = evt.target.parentNode;
      }
      target.blur();
      // captioning({
      //   type: "image",
      //   image_path: "assets/thunlp.png",
      //   video_path: "",
      // }).then((res) => {
      //   console.log(res, "1111111111111");
      // });
      // console.log(res, res.data.code, "图像识别返回值");
      // return;
      imgCall({ id: val.id }).then((res) => {
        if (res.data.code == 200) {
          console.log(res, res.data.code, "图像识别返回值");
          this.imageSbRes[i].imgDescription = res.data.data.text;
        } else {
          this.$message.warning(res.data.msg);
        }
        // val.imageLoading = false;
        this.fileListImageQB[i].imageLoading = false;
        this.keynum++;
      });
    },
    // 视频开始识别
    startIdentifyVideo(val, i, evt) {
      // val.videoLoading = true;
      this.fileListVideoQB[i].videoLoading = true;
      this.keynum++;
      console.log(val, val.id, "val视频识别");
      let target = evt.target;
      if (target.nodeName == "SPAN" || target.nodeName == "I") {
        target = evt.target.parentNode;
      }
      target.blur();
      videoCall({ id: val.id }).then((res) => {
        if (res.data.code == 200) {
          console.log(res, res.data.code, "视频识别返回值");
          this.videoSbRes[i].videoDescription = res.data.data.msg;
        } else {
          this.$message.warning(res.data.msg);
          console.log(res, res.data.msg, "视频识别失败");
          // val.videoLoading = false;
        }
        this.fileListVideoQB[i].videoLoading = false;
        this.keynum++;
      });
    },
    // 智能检索弹窗打开
    uploadZnjs() {
      // this.dialogFormVisibleZnjs = true;
      this.$router.push({ path: "/statistics" });
    },
    //智能检索文件上传
    handleChangeTextZnjs(file, fileList) {
      console.log(file, fileList, "智能检索-文件上传");
    },
    handleRemoveTextZnjs(file, fileList) {
      console.log(file, fileList, "智能检索-文件移出");
    },
    handlePictureCardPreviewZnjs(file) {
      this.dialogTextUrlZnjs = file.url;
      this.dialogVisibleTextZnjs = true;
    },
    uploadFileTextZnjs(param) {
      console.log(param, param.file, "智能检索-文件http-request");
      // uploadText
      // this.fileDataTextZnjs.append("multipartFile", file.file); // append增加数据
      // this.fileDataTextZnjs.append("materialType", this.xlNumber); // append增加中大特修
    },
    //智能检索图片上传
    handleChangeImageZnjs(file, fileList) {
      console.log(file, fileList, "智能检索-图片上传");
    },
    handleRemoveImageZnjs(file, fileList) {
      console.log(file, fileList, "智能检索-图片移出");
    },
    handlePictureCardPreviewZnjs(file) {
      this.dialogImageUrlZnjs = file.url;
      this.dialogVisibleImageZnjs = true;
    },
    uploadFileImageZnjs(param) {
      console.log(param, param.file, "智能检索-图片http-request");
      // uploadImage
      // this.fileDataImageZnjs.append("multipartFile", file.file); // append增加数据
      // this.fileDataImageZnjs.append("materialType", this.xlNumber); // append增加中大特修
    },
    //智能检索视频上传
    handleChangeVideoZnjs(file, fileList) {
      console.log(file, fileList, "智能检索上传视频");
      this.fileListVideoZnjs.push(file);
      console.log(this.fileListVideoZnjs, "智能检索00");
    },
    handleRemoveVideoZnjs(file, fileList) {
      console.log(file, fileList, "智能检索移出视频");
      this.fileListVideoZnjs = fileList;
    },
    deleteVideoFunZnjs(idx) {
      this.fileListVideoZnjs.splice(idx, 1);
    },
    handleVideoPreviewZnjs(file) {
      this.dialogVideoUrlZnjs = file.url;
      this.dialogVisibleVideoZnjs = true;
    },
    uploadFileVideoZnjs(param) {
      console.log(param, param.file, "智能检索http-request视频");
      // uploadVideo
      // this.fileDataVideoZnjs.append("multipartFile", file.file); // append增加数据
      // this.fileDataVideoZnjs.append("materialType", this.xlNumber); // append增加中大特修
    },
    //智能检索上传确定按钮
    uploadBtnFunZnjs() {
      this.$refs.dialogFileTextZnjs.submit(); //文本上传提交
      this.$refs.dialogFileImageZnjs.submit(); //图片上传提交
      this.$refs.dialogFileVideoZnjs.submit(); //视频上传提交
    },
    //查询
    cxFun() {
      let eveQueArr = [];
      this.eventQueryList.forEach((element) => {
        if (element.checked) {
          eveQueArr.push(element.name);
        }
      });
      if (this.nowDateCx) {
        this.queryData.date = this.nowDateCx;
      } else {
        this.queryData.date = this.queryParams.month;
      }
      this.queryData.label = eveQueArr.join(",");
      this.init(1);
    },
    calendarEvent() {
      this.userListLoading = true;
      selectByMonth({ month: this.queryParams.month })
        .then((res) => {
          if (res.data.code == 200) {
            this.userList = res.data.data;
          }
          this.userListLoading = false;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    qxFun() {
      this.eventDetails = {};
      console.log(this.videoArr, this.eventDetails.videoList, "qxFun");
      if (this.videoArr.length > 0) {
        this.videoArr.forEach((item) => {
          item.dispose();
        });
        if (this.eventDetails.videoList) {
          const myVideoDiv = document.getElementById("video");
          this.eventDetails.videoList.forEach((item, i) => {
            if ((i + 1) % 5) {
              myVideoDiv.innerHTML += `<video
          key="${item.id}"
          style="margin-right:8px;border-radius: 5px;
            margin-bottom: 5px;"
          id=${"myVideo" + item.id}
          class="video-js"
          >
          <source src="${item.videoUrl}" />
          </video>`;
            } else {
              myVideoDiv.innerHTML += `<video
            key="${item.id}"
            style="border-radius: 5px;
            margin-bottom: 5px;"
            id=${"myVideo" + item.id}
            class="video-js"
            >
            <source src="${item.videoUrl}" />
            </video>`;
            }
          });
        }
      }
      this.videoArr = [];
      this.nowDateCx = "";
      this.queryParams.month = this.nowDate().Y_M;
      this.calendarEvent();
      this.init();
    },
    // 切换日期
    monthHandle() {
      this.nowDateCx = "";
      this.calendarEvent();
      //  .....................
    },
    // 点击---------》选择人员
    selectUser(data) {
      if (data.type == "current-month") {
        if (this.nowDateCx == data.day) {
          this.nowDateCx = "";
        } else {
          console.log(data, "点击");
          this.nowDateCx = data.day;
          let day = data.day;
          // 获取当前点击的人员数据
          let itemList = this.userList.filter((item) => item.date == day);
          console.log(itemList, "itemList");

          let nowTime = this.nowDate().Y_M;
          // 只能编辑本月
          let isShow_01 = nowTime == day.slice(0, 7) ? true : false;
          // 判断是否已经选择了人员，再编辑
          let isShow_02 =
            this.userList.filter((item) => item.date == day).length != 0
              ? true
              : false;
          console.log(isShow_02, "isShow_02");
          //   根据需求自定义 。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。
        }
      }
    },

    formatNum(num) {
      return num < 10 ? "0" + num : "" + num;
    },

    // 获取时间
    nowDate() {
      var date = new Date();
      var year = this.formatNum(date.getFullYear());
      var month = this.formatNum(date.getMonth() + 1);
      var day = this.formatNum(date.getDate());

      var hours = this.formatNum(date.getHours());
      var minutes = this.formatNum(date.getMinutes());
      var seconds = this.formatNum(date.getSeconds());

      let YMD = year + "-" + month + "-" + day;
      let Y_M = year + "-" + month;

      return {
        year: year.toString(),
        month: month.toString(),
        day: day.toString(),
        hours: hours.toString(),
        minutes: minutes.toString(),
        seconds: seconds.toString(),
        YMD: YMD,
        Y_M: Y_M,
      };
    },
    eventMouseEnter(val, idxele, idx) {
      switch (val) {
        case "道路施工对峙":
          (this.idxMouser = String(idxele) + String(idx)), (this.idxSx = 1);
          break;
        case "械斗事件":
          (this.idxMouser = String(idxele) + String(idx)), (this.idxSx = 2);
          break;
        case "肢体冲突事件":
          (this.idxMouser = String(idxele) + String(idx)), (this.idxSx = 3);
          break;
        case "越界占控事件":
          (this.idxMouser = String(idxele) + String(idx)), (this.idxSx = 4);
          break;
        case "非法滞留事件":
          (this.idxMouser = String(idxele) + String(idx)), (this.idxSx = 5);
          break;
      }
    },
    eventMouseLeave() {
      this.idxMouser = -1;
    },
  },
  beforeDestroy() {
    if (this.videoArr.length > 0) {
      // console.log("初始化");
      this.videoArr.forEach((item) => {
        item.dispose();
      });
      this.videoArr = [];
    }
  },
};
</script>
<style lang="scss" scoped>
.home {
  // width: 1920px;
  // height: 1080px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  .headerWarp {
    width: 100%;
    height: 64px;
    background-color: #204f9c;
    color: #fff;
    display: flex;
    padding: 0 24px;
    justify-content: space-between;
    .headerTitle {
      font-size: 22px;
      line-height: 64px;
    }
    .headerBox {
      display: flex;
      .uploadBtn,
      .IntelligentBtn {
        font-size: 14px;
        margin: 13px 11px;
        padding: 0 10px;
        border-radius: 5px;
        margin-right: 48px;
        line-height: 36px;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.15);
      }
      .uploadBtn:hover,
      .IntelligentBtn:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
      .IntelligentBtn {
        margin-right: 0;
      }
      .headSculpture {
        width: 47px;
        height: 47px;
        border-radius: 50%;
        background-color: #248ae9;
        border: 1px solid #fff;
        padding: 4px 0 0 13px;
        margin-top: 8px;
        font-size: 26px;
      }
    }
  }
  .contentBx {
    width: 100%;
  }
  .contentWarp {
    width: 1920px;
    height: 1016px;
    margin: 0 auto;
    display: flex;
    background-color: #d2dceb;
    .leftBox {
      width: 366px;
      padding: 10px 20px;
      height: 100%;
      overflow: auto;
      &::-webkit-scrollbar {
        width: 0;
      }
      .timeLineBox {
        /deep/ .el-timeline-item__tail {
          border-left: 2px solid #b8b8b8 !important;
        }
        .eventBox {
          background-color: #fff;
          padding: 10px 10px;
          border-radius: 5px;
          position: relative;
          top: 10px;
          .eventTitle {
            position: absolute;
            top: -22px;
            left: -10px;
          }
          .titleBtn {
            display: flex;
            justify-content: space-between;
            .timeTitle {
              padding-bottom: 10px;
            }
            .eventEditBtn {
              cursor: pointer;
              color: #248ae9;
            }
          }
          .evenDescr {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
          }
        }
        .boundaries {
          color: #fff;
          background-color: #cc8430;
          .titleBtn {
            .eventEditBtn {
              color: #fff;
            }
          }
        }
        .fighting {
          color: #fff;
          background-color: #26a4cd;
          .titleBtn {
            .eventEditBtn {
              color: #fff;
            }
          }
        }
        .conflicts {
          color: #fff;
          background-color: #ff0000;
          .titleBtn {
            .eventEditBtn {
              color: #fff;
            }
          }
        }
        .casualties {
          color: #fff;
          background-color: #969696;
          .titleBtn {
            .eventEditBtn {
              color: #fff;
            }
          }
        }
        .conflict {
          color: #fff;
          background-color: #0b31f2;
          .titleBtn {
            .eventEditBtn {
              color: #fff;
            }
          }
        }
      }
      .kong {
        height: 100%;
        .el-empty {
          position: relative;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    .middleBox {
      width: 1122px;
      background-color: #fafafa;
      padding: 0px 24px;
      .contentTitle {
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        display: flex;
        justify-content: space-between;
        padding: 14px 0 16px 0;
        .leftEventTime {
          display: flex;
          .eventTip {
            margin-right: 9px;
            // background-color: #cc8430;
            padding: 8px 12px;
            border-radius: 5px;
            color: #fff;
          }
          .eventTime {
            padding-top: 6px;
          }
        }
        .jwd {
          color: #3b64a8;
          padding-top: 6px;
        }
      }
      .eventOverview {
        padding: 19px 0 32px 0;
        .content {
          padding: 5px;
          max-height: 170px;
          overflow: auto;
          &::-webkit-scrollbar {
            width: 0;
          }
        }
      }
      .collectionMaterials {
        .imageMaterials,
        .imageData {
          background-color: #eeeeee;
          border-radius: 20px;
          padding: 0 16px;
          margin-top: 12px;
          .title {
            line-height: 40px;
          }
          .txContent {
            max-height: 281px;
            overflow: auto;
            &::-webkit-scrollbar {
              width: 0;
            }
          }
        }
        .kong {
          height: 159px;
          .el-empty {
            position: relative;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -50%);
            /deep/ .el-empty__image {
              width: 100px;
              height: 100px;
            }
          }
        }
      }
      .imageData {
        .txContent {
          /deep/ .vjs-control-bar .vjs-picture-in-picture-control {
            display: none !important;
          }
          .video-js {
            border-radius: 5px;
            margin-bottom: 5px;
          }
        }
      }
    }
    .kong {
      height: 100%;
      .el-empty {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .rightBox {
      width: 432px;
      .dateWarp {
        // border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        .CalendarPage {
          /deep/ .el-calendar__body {
            padding: 0 !important;
          }
          /* 隐藏掉日历上面的快捷按钮 */
          /deep/ .el-calendar__header {
            display: none;
          }

          /* 标题背景 */
          /deep/ thead {
            /* background: #EDF6FF; */
            background: #eff3f8;
            height: 70px;
          }
          /deep/ .el-calendar {
            background-color: #d2dceb;
          }
          /* 标题文字样式 */
          /deep/ .el-calendar-table thead th {
            color: #606266;
            font-size: 15px;
            font-weight: 800;
          }
          /deep/ .el-calendar-table td {
            border: none;
          }
          /* 修改选中的背景颜色 */
          /deep/ .el-calendar-table td.is-selected {
            background-color: transparent;
          }

          /* 修改今日的文字颜色 */
          /deep/ .el-calendar-table td.is-today {
            color: #333;
          }

          /* 日期居中 */
          /deep/ .el-calendar-table .el-calendar-day {
            display: flex;
            justify-content: center;
            align-items: center;
          }

          /deep/ .el-calendar-day:hover {
            /* 鼠标悬浮时的样式 */
            background-color: #cde6ff;
          }

          .calendar-box {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            //   margin-top: 20px;
          }

          .calendar-title {
            font-size: 18px;
            font-weight: 800;
            margin-bottom: 10px;
            letter-spacing: 1px;
          }

          .cell-box {
            width: 100%;
            min-height: 70%;
            /* background: red; */
            /* margin-top: 10%; */
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
          }

          .cell-time {
            background-color: #000;
            width: 27px;
            height: 29px;
            padding: 3px 0 0 0;
            border-radius: 50%;
            text-align: center;
            color: #fff;
          }

          .select-box {
            font-size: 13px;
          }

          .cell-label {
            font-size: 13px;
            color: #0079fe;
            width: 100%;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
            margin-top: 5px;
          }
        }
      }
      .attributeQuery {
        padding: 0 20px;
        .sxWarp {
          display: flex;
          justify-content: space-between;
          height: 40px;
          padding-top: 7px;
          margin: 2px 0 5px 0;
          .dian {
            margin-top: 2px;
            width: 21px;
            height: 21px;
            border-radius: 50%;
            background-color: #cc8430;
            border: 1px solid #fff;
            // flex: 1;
          }
          .content {
            width: 327px;
            cursor: pointer;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            display: flex;
            justify-content: space-between;
          }
        }
        .cxBtn {
          width: 88px;
          height: 40px;
          border-radius: 20px;
          background-color: #fff;
          border: 1px solid #000;
          line-height: 37px;
          text-align: center;
          cursor: pointer;
          margin: 20px 0 0 10px;
          float: right;
        }
        .cxBtn:hover {
          background-color: #000;
          color: #fff;
        }
      }
    }
  }
  /deep/ .el-dialog {
    border-radius: 15px !important;
  }
  /deep/.el-dialog__body {
    padding: 5px 20px !important;
  }
  .reconnaissanceDialog,
  .IntelligentDialog {
    & .warp {
      width: 100%;
      display: flex;
      // justify-content: space-between;
      border-top: 1px solid rgba(0, 0, 0, 0.12);
      & .box {
        width: 600px;
        // height: 450px;
      }
      & .left {
        margin-right: 20px;
        & .basicInformation {
          padding: 20px 0;
          & .inputBox {
            display: flex;
            flex-wrap: wrap;
            & .inputWarp {
              width: 280px;
              margin: 5px 10px;
              display: flex;
              // flex-wrap: wrap;
              & p {
                width: 50px;
                line-height: 40px;
              }
            }
          }
        }
        & .imagery {
          & .imageUpload {
            margin-top: 5px;
            padding: 5px 0 0 10px;
            height: 217px;
            background-color: #eeeeee;
            border-radius: 5px;
            overflow: auto;
            display: flex;
            flex-wrap: wrap;
            &::-webkit-scrollbar {
              width: 0;
            }
            /deep/ .el-upload-list__item {
              width: 139px !important;
              height: 139px !important;
            }
            /deep/ .el-upload--picture-card {
              width: 139px !important;
              height: 139px !important;
            }
            /deep/ .el-upload-list__item {
              display: none;
            }
            & .identifyWarp {
              display: flex;
              margin: 5px 0;
              & .identifyTextarea {
                width: 330px;
              }
              & .identifyBtn {
                padding: 40px 10px 0 0;
              }
              & .imageWarp {
                width: 137px;
                height: 137px;
                margin: 0 10px 0 0;
                border-radius: 5px;
                img {
                  width: 137px;
                  height: 137px;
                  margin: 0 10px 5px 0;
                  border-radius: 5px;
                }
                & .del {
                  float: left;
                  font-size: 20px;
                  cursor: pointer;
                  position: relative;
                  top: -145px;
                  left: 115px;
                  color: #fff;
                  background-color: #000;
                  border-radius: 50%;
                }
              }
            }
          }
        }
      }
      & .right {
        width: 755px;
        & .eventDescription {
          padding: 20px 0;
          & .inputBox {
            margin-top: 5px;
          }
        }
        & .videoIntelligence {
          & .videoUpload {
            margin-top: 5px;
            padding: 5px 0 0 15px;
            height: 217px;
            background-color: #eeeeee;
            border-radius: 5px;
            overflow: auto;
            display: flex;
            flex-wrap: wrap;
            &::-webkit-scrollbar {
              width: 0;
            }
            /deep/ .el-upload-list__item {
              display: none;
            }
            /deep/ .el-upload--picture-card {
              width: 139px !important;
              height: 139px !important;
            }
            & .identifyWarp {
              display: flex;
              margin: 5px 0;
              & .identifyTextarea {
                width: 330px;
              }
              & .identifyBtn {
                padding: 40px 10px 0 0;
              }
              & .videoWarp {
                width: 280px;
                height: 150px;
                margin: 0 10px 0 0;
                & .video-js {
                  width: 280px;
                  height: 150px;
                  border-radius: 5px;
                }
                & .del {
                  float: left;
                  font-size: 28px;
                  cursor: pointer;
                  position: relative;
                  top: -148px;
                  left: 245px;
                  color: #fff;
                  background-color: #000;
                  border-radius: 50%;
                }
              }
            }
          }
        }
      }
    }
  }
  .IntelligentDialog {
    & .warp {
      & .boxJs {
        width: 600px;
        // height: 450px;
      }
      & .left {
        & .basicInformation {
          padding: 20px 0 5px 0;
        }
        & .textUpload {
          margin-top: 5px;
          padding: 5px 0 0 10px;
          height: 150px;
          background-color: #eeeeee;
          border-radius: 5px;
          // overflow: auto;
          // display: flex;
          // flex-wrap: wrap;
          // &::-webkit-scrollbar {
          //   width: 0;
          // }
          & .upload-demo {
            display: flex;
            /deep/ .el-upload-list {
              width: 100%;
              height: 140px;
              // margin-top: -10px;
              padding: 0 30px;
              overflow: auto;
              /* 宽度和高度 */
              &::-webkit-scrollbar {
                width: 12px; /* 宽度 */
                height: 12px; /* 高度 */
              }

              /* 轨道 */
              &::-webkit-scrollbar-track {
                background: #f1f1f1; /* 轨道背景颜色 */
              }

              /* 滑块 */
              &::-webkit-scrollbar-thumb {
                background: #888; /* 滑块颜色 */
                border-radius: 6px; /* 滑块圆角 */
              }

              /* 滑块悬停状态 */
              &::-webkit-scrollbar-thumb:hover {
                background: #555; /* 悬停时的滑块颜色 */
              }
            }
            /deep/ .el-upload-list__item:first-child {
              margin-top: 0px;
            }
          }
        }
        & .imagery {
          & .imageUpload {
            height: 156px;
          }
        }
        & .videoIntelligenceJs {
          margin-top: 5px;
          & .videoUpload {
            margin-top: 5px;
            padding: 5px 0 0 15px;
            height: 160px;
            background-color: #eeeeee;
            border-radius: 5px;
            overflow: auto;
            display: flex;
            flex-wrap: wrap;
            &::-webkit-scrollbar {
              width: 0;
            }
            /deep/ .el-upload-list__item {
              display: none;
            }
            /deep/ .el-upload--picture-card {
              width: 139px !important;
              height: 139px !important;
            }
            & .videoWarp {
              width: 280px;
              height: 150px;
              margin: 0 10px 5px 0;
              & .video-js {
                width: 280px;
                height: 150px;
                border-radius: 5px;
              }
              & .del {
                float: left;
                font-size: 28px;
                cursor: pointer;
                position: relative;
                top: -148px;
                left: 245px;
                color: #fff;
                background-color: #000;
                border-radius: 50%;
              }
            }
          }
        }
      }
      & .right {
        & .eventDescription {
          padding: 20px 0 0 0;
        }
        & .tpsjms {
          padding-top: 7px;
        }
        & .spsjms {
          padding-top: 7px;
        }
      }
    }
  }
  :deep(.el-textarea__inner) {
    //el_input中的隐藏属性
    resize: none; //禁止拉伸
  }
}
</style>
