<template>
  <div class="home" v-loading="loadingTj">
    <!-- 头部 -->
    <div class="headerWarp">
      <div class="headerTitle">侦察要报</div>
      <div class="headerBox">
        <!-- <div class="uploadBtn" @click="uploadPop">
          <i class="el-icon-upload2"></i>
          上传情报信息
        </div> -->
        <div class="headSculpture">A</div>
      </div>
    </div>
    <!-- 内容 -->
    <div class="contentBx">
      <div class="contentWarp">
        <!-- 上 -->
        <div class="topCont">
          <div class="leftCont">
            <div class="topBox">
              <div class="titleWz">
                <p>侦察取证统计</p>
              </div>
              <div class="ggrq" @click="ggrq()">更改日期</div>
            </div>
            <div class="wwzz">快速掌握情报综合信息</div>
            <div class="timeWarp">
              <div class="timeLeft">
                <p>起始日期：</p>
                <div>{{ value1[0] }}</div>
              </div>
              <div class="timeRight">
                <p>截止日期：</p>
                <div>{{ value1[1] }}</div>
              </div>
            </div>
          </div>
          <div class="middleCont">
            <div class="miaoshuBj">
              <div class="tjgs">统计概述：</div>
              <div class="miaoshuBox">
                <div class="miaoshu">
                  {{ tjgsCountent }}
                </div>
              </div>
            </div>
          </div>
          <div class="rightCont">
            <p @click="goBack()"><i class="el-icon-house"></i> 返回主页</p>
          </div>
        </div>
        <!-- 下 -->
        <div class="bottomCont">
          <div class="botLeft">
            <div class="qkgk">
              <h3>情况概括</h3>
              <div class="qkgkBox">
                <div class="xqBox">
                  <div class="tx">
                    <img src="@/assets/shijianzongshu.png" alt="" />
                  </div>
                  <div class="wz">
                    <p>{{ qkgkList.sjzs }}起</p>
                    <span>事件总数</span>
                  </div>
                </div>
                <div class="xqBox">
                  <div class="tx">
                    <img src="@/assets/shijianzongshu_1.png" alt="" />
                  </div>
                  <div class="wz">
                    <p>{{ qkgkList.gfsj }}</p>
                    <span>高发事件</span>
                  </div>
                </div>
                <div class="xqBox">
                  <div class="tx">
                    <img src="@/assets/redianquyu.png" alt="" />
                  </div>
                  <div class="wz">
                    <p>{{ qkgkList.dq }}</p>
                    <span>热点区域</span>
                  </div>
                </div>
                <div class="xqBox">
                  <div class="tx">
                    <img src="@/assets/guimo.png" alt="" />
                  </div>
                  <div class="wz">
                    <p>{{ qkgkList.gmzd }}人</p>
                    <span>规模最大</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="dlwzfb">
              <h3>地理位置分布</h3>
              <div class="dtWarp">
                <div
                  style="width: 100%; height: 100%"
                  v-for="(element, idx) in mapPointList"
                  :key="idx"
                >
                  <div
                    style="width: 100%; height: 100%"
                    v-for="(countItem, idxCount) in element.count"
                    :key="idxCount"
                  >
                    <div
                      class="dianMs"
                      v-for="(dian, diani) in weizhilist1"
                      :key="diani"
                      :style="dian"
                    >
                      <!-- :style="{
                    top: Math.random().toFixed(2) * 400 + 100 + 'px',
                    left: Math.floor(Math.random() * 201) + 270 + 'px',
                  }" -->
                      <!-- <div class="wzbj">
                    <div><img src="@/assets/map.png" alt="" /></div>
                    <div class="wx">
                      <p>2024年06月01号</p>
                      <span>美国</span>
                    </div>
                  </div> -->
                    </div>
                    <div
                      class="dianMs"
                      v-for="(dian, diani) in weizhilist2"
                      :key="diani"
                      :style="dian"
                    >
                      <!-- :style="{
                    top: Math.random().toFixed(2) * 400 + 100 + 'px',
                    left: Math.floor(Math.random() * 201) + 270 + 'px',
                  }" -->
                      <!-- <div class="wzbj">
                    <div><img src="@/assets/map.png" alt="" /></div>
                    <div class="wx">
                      <p>2024年06月01号</p>
                      <span>美国</span>
                    </div>
                  </div> -->
                    </div>
                    <div
                      class="dianMs"
                      v-for="(dian, diani) in weizhilist3"
                      :key="diani"
                      :style="dian"
                    >
                      <!-- :style="{
                    top: Math.random().toFixed(2) * 400 + 100 + 'px',
                    left: Math.floor(Math.random() * 201) + 270 + 'px',
                  }" -->
                      <!-- <div class="wzbj">
                    <div><img src="@/assets/map.png" alt="" /></div>
                    <div class="wx">
                      <p>2024年06月01号</p>
                      <span>美国</span>
                    </div>
                  </div> -->
                    </div>
                    <div
                      class="dianMs"
                      v-for="(dian, diani) in weizhilist4"
                      :key="diani"
                      :style="dian"
                    >
                      <!-- :style="{
                    top: Math.random().toFixed(2) * 400 + 100 + 'px',
                    left: Math.floor(Math.random() * 201) + 270 + 'px',
                  }" -->
                      <!-- <div class="wzbj">
                    <div><img src="@/assets/map.png" alt="" /></div>
                    <div class="wx">
                      <p>2024年06月01号</p>
                      <span>美国</span>
                    </div>
                  </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="botMiddle">
            <h3>信息统计</h3>
            <div class="xxtjWarp">
              <h4>
                事件类别
                <i
                  style="cursor: pointer"
                  @click="refreshFun"
                  class="el-icon-refresh"
                ></i>
              </h4>
              <div class="echartsBt" id="echartsBt"></div>
              <div class="sjWap">
                <div class="sjtj" v-for="(item, i) in bingList" :key="i">
                  <div
                    class="dian"
                    :style="{ backgroundColor: item.color }"
                  ></div>
                  <div class="ms">
                    <div
                      style="
                        width: 110px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                      "
                    >
                      {{ item.name }}
                    </div>
                    <div>{{ item.value }}次</div>
                    <div>{{ item.percentage }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="botRight">
            <div class="daysl">
              <h4>地点与数量</h4>
              <div class="echartZzt" id="echartZzt"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <el-dialog
      title="收货地址"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      :visible.sync="dialogTableVisible"
      width="600px"
    >
      <div style="padding: 0 0 0 30px">
        请选择开始结束事件：
        <el-date-picker
          v-model="value1"
          type="daterange"
          value-format="yyyy-MM-dd"
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
        >
        </el-date-picker>
      </div>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogTableVisible = false">取 消</el-button>
        <el-button type="primary" @click="init()">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
  
  <script>
import { getCount } from "@/api/index.js";
// import dateCom from "@/components/dateCom.vue";
export default {
  name: "Home",
  components: {
    // dateCom,
  },
  data() {
    return {
      // 情况概括
      qkgkList: {
        sjzs: 0,
        gfsj: "",
        dq: "",
        gmzd: "",
      },
      tjgsCountent: "",
      dialogTableVisible: false,
      value1: [
        this.$gf.formatDate(new Date().getTime() - 24 * 60 * 60 * 30 * 1000),
        this.$gf.formatDate(new Date().getTime()),
      ],
      zhuzhuangtuList: [],
      bingList: [],
      loadingTj: false,
      mapPointList: [],
      weizhilist1: [],
      weizhilist2: [],
      weizhilist3: [],
      weizhilist4: [],
      area: "",
    };
  },
  computed: {},
  mounted() {
    this.init();
  },
  methods: {
    init() {
      this.loadingTj = true;
      this.dialogTableVisible = false;
      this.weizhilist1 = [];
      this.weizhilist2 = [];
      this.weizhilist3 = [];
      this.weizhilist4 = [];
      getCount({
        startDate: this.value1[0],
        endDate: this.value1[1],
        area: this.area,
      }).then((res) => {
        // console.log(res, "0-0-0");
        this.loadingTj = false;
        if (res.data.code == 200) {
          this.zhuzhuangtuList = res.data.data.areaList;
          this.bingList = res.data.data.labelList;
          this.mapPointList = res.data.data.mapPointList;
          this.qkgkList = {
            sjzs: res.data.data.count,
            gfsj: res.data.data.labelKey,
            dq: res.data.data.areaKey,
            gmzd: res.data.data.numMax,
          };
          this.tjgsCountent = res.data.data.text;
          this.getChartsBt();
          // if (!this.area) {
          this.getChartsZzt();
          // }
          this.mapPointList.forEach((element, i) => {
            // console.log(element);
            if (i == 0 && element.count > 0) {
              for (let index = 0; index < element.count; index++) {
                this.weizhilist1.push({
                  top: Math.floor(Math.random() * (110 - 85 + 1)) + 85 + "px",
                  left:
                    Math.floor(Math.random() * (140 - 120 + 1)) + 120 + "px",
                });
              }
              // element.count.forEach((item) => {
              //   this.weizhilist1.push({
              //     top: Math.floor(Math.random() * (45 - 10 + 1)) + 10 + "px",
              //     left:
              //       Math.floor(Math.random() * (395 - 335 + 1)) + 335 + "px",
              //   });
              // });
            }
            if (i == 1 && element.count > 0) {
              for (let index = 0; index < element.count; index++) {
                this.weizhilist2.push({
                  top: Math.floor(Math.random() * (200 - 185 + 1)) + 185 + "px",
                  left:
                    Math.floor(Math.random() * (165 - 150 + 1)) + 150 + "px",
                });
              }
              // element.count.forEach((item) => {
              //   this.weizhilist2.push({
              //     top: Math.floor(Math.random() * (95 - 80 + 1)) + 80 + "px",
              //     left:
              //       Math.floor(Math.random() * (370 - 325 + 1)) + 325 + "px",
              //   });
              // });
            }
            if (i == 2 && element.count > 0) {
              for (let index = 0; index < element.count; index++) {
                this.weizhilist3.push({
                  top: Math.floor(Math.random() * (320 - 305 + 1)) + 305 + "px",
                  left:
                    Math.floor(Math.random() * (165 - 150 + 1)) + 150 + "px",
                });
              }
              // element.count.forEach((item) => {
              //   this.weizhilist3.push({
              //     top: Math.floor(Math.random() * (165 - 135 + 1)) + 135 + "px",
              //     left:
              //       Math.floor(Math.random() * (200 - 155 + 1)) + 155 + "px",
              //   });
              // });
            }
            if (i == 3 && element.count > 0) {
              for (let index = 0; index < element.count; index++) {
                this.weizhilist4.push({
                  top: Math.floor(Math.random() * (390 - 375 + 1)) + 375 + "px",
                  left:
                    Math.floor(Math.random() * (320 - 300 + 1)) + 300 + "px",
                });
              }
              // element.count.forEach((item) => {
              //   this.weizhilist4.push({
              //     top: Math.floor(Math.random() * (335 - 305 + 1)) + 305 + "px",
              //     left:
              //       Math.floor(Math.random() * (205 - 165 + 1)) + 165 + "px",
              //   });
              // });
            }
          });
        } else {
          this.zhuzhuangtuList = [];
          this.bingList = [];
          this.mapPointList = [];
          this.qkgkList = {
            sjzs: 0,
            gfsj: "",
            dq: "",
            gmzd: 0,
          };
          this.tjgsCountent = "";
          this.getChartsBt();
          this.getChartsZzt();
          this.weizhilist1 = [];
          this.weizhilist2 = [];
          this.weizhilist3 = [];
          this.weizhilist4 = [];
          this.$message.warning(res.data.msg);
        }
      });
    },
    getChartsBt() {
      var myChart = this.$echarts.init(document.getElementById("echartsBt"));
      let title = "所有事件";
      let color = [];
      this.bingList.forEach((element) => {
        color.push(element.color);
      });
      let echartData = this.bingList;

      let formatNumber = function (num) {
        let reg = /(?=(\B)(\d{3})+$)/g;
        return num.toString().replace(reg, ",");
      };
      let total = echartData.reduce((a, b) => {
        return a + b.value * 1;
      }, 0);

      let option = {
        tooltip: {
          show: true,
        },
        color: color,
        title: [
          {
            text: "{name|" + title + "}\n{val|" + formatNumber(total) + "}",
            top: "center",
            left: "center",
            textStyle: {
              rich: {
                name: {
                  fontSize: 14,
                  fontWeight: "normal",
                  color: "#666666",
                  padding: [10, 0],
                },
                val: {
                  fontSize: 32,
                  fontWeight: "bold",
                  color: "#333333",
                },
              },
            },
          },
        ],
        series: [
          {
            type: "pie",
            radius: ["45%", "60%"],
            center: ["50%", "50%"],
            data: echartData,
            hoverAnimation: false,
            labelLine: {
              show: false, //隐藏指示线
            },
            label: {
              show: false, //隐藏标示文字
            },
          },
        ],
      };
      myChart.setOption(option);
      // 根据页面大小自动响应图表大小
      window.addEventListener("resize", function () {
        myChart.resize();
      });
    },
    getChartsZzt() {
      var myChart = this.$echarts.init(document.getElementById("echartZzt"));
      let xZhou = [];
      let yZhou = [];
      this.zhuzhuangtuList.forEach((element) => {
        xZhou.push(element.area);
        yZhou.push(element.count);
      });
      var option = {
        tooltip: {
          show: true,
        },
        xAxis: {
          data: xZhou,
        },
        yAxis: {},
        series: [
          {
            type: "bar",
            data: yZhou,
            barWidth: 50,
          },
        ],
        // dataZoom: [
        //   {
        //     type: "inside", // inside: 表示用内测滑块
        //     startValue: 0, // 开始显示的数
        //     endValue: 10, // 结束显示的数
        //     // yAxisIndex: [0],    // 代表是作用在y轴上的
        //     // zoomLock: true,
        //     zoomOnMouseWheel: true, // 关闭滚轮缩放
        //     moveOnMouseWheel: true, // 开启滚轮平移
        //     moveOnMouseMove: true, // 鼠标移动能触发数据窗口平移
        //   },
        // ],
      };
      myChart.setOption(option);
      // 根据页面大小自动响应图表大小
      window.addEventListener("resize", function () {
        myChart.resize();
      });
      let that = this;
      myChart.off("click");
      myChart.on("click", function (params) {
        that.area = params.name;
        getCount({
          startDate: that.value1[0],
          endDate: that.value1[1],
          area: that.area,
        }).then((res) => {
          // console.log(res, "0-0-0");
          if (res.data.code == 200) {
            that.bingList = res.data.data.labelList;
            that.getChartsBt();
          }
        });
      });
    },
    goBack() {
      this.$router.push({ path: "/" });
    },
    refreshFun() {
      // this.area = "";
      // this.init();
      getCount({
        startDate: this.value1[0],
        endDate: this.value1[1],
        area: "",
      }).then((res) => {
        // console.log(res, "0-0-0");
        if (res.data.code == 200) {
          this.bingList = res.data.data.labelList;
          this.getChartsBt();
        }
      });
    },
    ggrq() {
      this.area = "";
      this.dialogTableVisible = true;
    },
    // quedingFun() {
    //   this.area = "";
    //   this.init();
    // },
  },
};
</script>
  <style lang="scss" scoped>
.home {
  // width: 1920px;
  // height: 1080px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  .headerWarp {
    width: 100%;
    height: 64px;
    background-color: #204f9c;
    color: #fff;
    display: flex;
    padding: 0 24px;
    justify-content: space-between;
    .headerTitle {
      font-size: 22px;
      line-height: 64px;
    }
    .headerBox {
      display: flex;
      .uploadBtn,
      .IntelligentBtn {
        font-size: 14px;
        margin: 13px 11px;
        padding: 0 10px;
        border-radius: 5px;
        margin-right: 48px;
        line-height: 36px;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.15);
      }
      .uploadBtn:hover,
      .IntelligentBtn:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
      .IntelligentBtn {
        margin-right: 0;
      }
      .headSculpture {
        width: 47px;
        height: 47px;
        border-radius: 50%;
        background-color: #248ae9;
        border: 1px solid #fff;
        padding: 4px 0 0 13px;
        margin-top: 8px;
        font-size: 26px;
      }
    }
  }
  .contentBx {
    width: 100%;
    // height: calc(100% - 64px);
  }
  .contentWarp {
    margin: 0 auto;
    width: 1920px;
    height: 100%;
    background-color: #d2dceb;
    .topCont {
      width: 100%;
      height: 192px;
      background: url("~@/assets/bj.png") no-repeat;
      // background-size: 100% 100%;
      // background-attachment: fixed;
      display: flex;
      justify-content: space-between;
      padding: 30px 23px;
      .leftCont {
        color: #fff;
        .topBox {
          display: flex;
          .titleWz {
            p {
              font-size: 32px;
              font-weight: normal;
              font-style: italic;
              font-stretch: normal;
              letter-spacing: 0px;
              color: #ffffff;
            }
          }
          .ggrq {
            width: 86px;
            line-height: 38px;
            border: 1px solid #fff;
            border-radius: 20px;
            text-align: center;
            margin-left: 20px;
            cursor: pointer;
          }
          .ggrq:hover {
            opacity: 0.8;
          }
        }
        .wwzz {
          font-size: 16px;
          opacity: 0.7;
          margin-top: 5px;
        }
        .timeWarp {
          display: flex;
          justify-content: space-between;
          margin: 20px 0 0 0;
          .timeLeft {
            border-left: 5px solid #96f196;
            padding-left: 10px;
          }
          .timeRight {
            border-left: 5px solid #f1a4a4;
            padding-left: 10px;
          }
          p {
            font-size: 16px;
            opacity: 0.7;
            margin: 0 0 5px 0;
          }
        }
      }
      .middleCont {
        .miaoshuBj {
          width: 844px;
          height: 88px;
          background: url("~@/assets/msBj.png") no-repeat;
          // background-size: 100% 100%;
          // background-attachment: fixed;
          color: #ffffff;
          padding: 5px 0 5px 20px;
          display: flex;
          .miaoshuBox {
            flex: 1;
            overflow: auto;
            margin-right: 10px;
            &::-webkit-scrollbar {
              width: 0;
            }
          }
        }
      }
      .rightCont {
        color: #fff;
        cursor: pointer;
        p:hover {
          text-decoration: underline;
        }
      }
    }
    .bottomCont {
      width: 100%;
      height: calc(100% - 192px);
      background-color: #e8edf5;
      padding: 20px 20px 50px 20px;
      display: flex;
      justify-content: space-between;
      .botLeft {
        width: 491px;
        .qkgk {
          .qkgkBox {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 10px;
            .xqBox {
              width: 240px;
              height: 94px;
              border: 1px solid #dfdfdf;
              background-color: #fff;
              display: flex;
              padding: 20px;
              border-radius: 10px;
              margin: 2px;
              .tx {
                margin-right: 15px;
                img {
                  width: 48px;
                  height: 48px;
                }
              }
              .wz {
                flex: 1;
                p {
                  font-size: 22px;
                  width: 130px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
                span {
                  font-size: 14px;
                  color: #424242;
                }
              }
            }
          }
        }
        .dlwzfb {
          margin-top: 20px;
          .dtWarp {
            margin-top: 15px;
            width: 492px;
            height: 428px;
            // background: url("~@/assets/map.png") no-repeat;
            background: url("~@/assets/map1.jpg") no-repeat;
            position: relative;
            overflow: hidden;
            // background-size: 100% 100%;
            // background-attachment: fixed;
            .dianMs {
              position: absolute;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background-color: #248ae9;
              cursor: pointer;
              .wzbj {
                width: 178px;
                height: 66px;
                background: url("~@/assets/weizhiBj.png") no-repeat;
                position: absolute;
                top: -61px;
                left: -79px;
                // background-size: 100% 100%;
                // background-attachment: fixed;
                padding: 5px;
                display: flex;
                img {
                  width: 50px;
                  height: 50px;
                  border-radius: 5px;
                }
                .wx {
                  margin-left: 5px;
                  flex: 1;
                  color: #fff;
                  padding-top: 3px;
                  p {
                    font-size: 14px;
                  }
                }
              }
            }
            .dianMs:hover {
              background-color: #edd942;
            }
          }
        }
      }
      .botMiddle {
        .xxtjWarp {
          margin-top: 10px;
          background-color: #fff;
          border-radius: 10px;
          width: 433px;
          height: 690px;
          padding: 10px 20px;
          .echartsBt {
            height: 360px;
          }
          .sjWap {
            overflow: auto;
            height: 290px;
            &::-webkit-scrollbar {
              width: 0;
            }
          }
          .sjtj {
            display: flex;
            .dian {
              margin-top: 13px;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background-color: #424242;
            }
            .ms {
              flex: 1;
              display: flex;
              justify-content: space-between;
              border-bottom: 1px solid #dcdcdc;
              margin-left: 20px;
              padding: 10px 0;
            }
          }
        }
      }
      .botRight {
        padding-top: 37px;
        .daysl {
          background-color: #fff;
          border-radius: 10px;
          width: 900px;
          height: 690px;
          padding: 10px 20px;
          .echartZzt {
            height: 650px;
          }
        }
      }
    }
  }
}
</style>
  